.main-chat
  .main-chat__group-data
    .gruop
      .group__name
        Group
      .group__member
        Member：t.y
    = link_to '#', class: "group-edit" do
      Edit
  .main-chat__chat-list
    .chat-data
      .chat-data__user-data
        .chat-data__user-data--name
          t.y
        .chat-data__user-data--day
          2020/06/08(Mon) 23:23:00
      .caht-data__message
        Hello
    .chat-data
      .chat-data__user-data
        .chat-data__user-data--name
          tanaka
        .chat-data__user-data--day
          2020/06/08(Mon) 23:24:00
      .caht-data__message
        Hello!
    .chat-data
      .chat-data__user-data
        .chat-data__user-data--name
          yuzi
        .chat-data__user-data--day
          2020/06/08(Mon) 23:25:00
      .caht-data__message
        Hello!!!
  .main-chat__chat-form
    .new-message
      .new-message__form
        %input.new-message__form--input{name: "message", placeholder: "type a message", type: "text", value: ""}
        %label{class: "new-message__form--image"}
          = icon('far', 'image')
          %input.form-label{type: "file"}
      %input.new-message__btn{type: "submit", value: "Send"}