.chat-data
  .chat-data__user-data
    .chat-data__user-data--name
      = message.user.name
    .chat-data__user-data--day
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  .chat-data__message
    - if message.content.present?
      %p.chat-data__message--content
        = message.content
    = image_tag message.image.url, class: 'chat-data__message--image' if message.image.present?
