.message{data: {message: {id: message.id}}}
  .message__user-data
    .message__user-data--name
      = message.user.name
    .message__user-data--day
      = message.created_at.strftime("%Y/%m/%d(%a) %H:%M:%S")
  .message__text
    - if message.content.present?
      %p.message__text--content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
