.side-bar
  .side-bar__user-name
    .top-item
      .top-item__user-name
        t.y
      .top-item__icon
        = link_to '#' do
          = icon('far', 'edit', class: 'top-item__icon--edit')
        = link_to '/' do
          = icon('fas', 'cog', class: 'top-item__icon--cog')
  .side-bar__groups-lists
    .group-data
      .group-data__group-name
        GROUP
      .group-data__group-message
        No message
    .group-data
      .group-data__group-name
        GROUP
      .group-data__group-message
        No message
    .group-data
      .group-data__group-name
        GROUP
      .group-data__group-message
        No message
    .group-data
      .group-data__group-name
        GROUP
      .group-data__group-message
        No message
    .group-data
      .group-data__group-name
        GROUP
      .group-data__group-message
        No message
