* {
  box-sizing: border-box;
}

@mixin white() {
  color: #ffffff;
}

a {
  text-decoration: none;
}

.side-bar a {
  @include white();
}

.wrapper {
  display: flex;
}

.side-bar {
  @include white();
  width: 300px;
  &__user-name {
    font-weight: bold;
    background-color: #253141;
    height: 100px;
    display: flex;
    .top-item {
      font-size: inherit;
      height: 20px;
      width: 260px;
      margin: auto 20px;
      display: flex;
      justify-content: space-between;
      &__user-name {
        line-height: 20px;
        font-size: 16px;
      }
      &__icon {
        width: 60px;
        line-height: 20px;
        display: flex;
        justify-content: flex-end;
        &--edit {
          margin-right: 5px;
        }
      }
    }
  }
  &__groups-lists {
    overflow: scroll;
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group-data {
      padding: 20px 20px 0px;
      &__group{
        margin-bottom: 40px;
        &--name {
          font-size: 15px;
        }
        &--message {
          font-size: 11px;
          margin-top: 5px;
        }
      }
    }
  }
}

.main-chat {
  width: calc(100vw - 300px);
  &__group-data {
    background-color: #ffffff;
    height: 100px;
    border-bottom-color: #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .group {
      &__name {
        margin-top: 35px;
        font-size: 20px;
        color: #333333;
      }
      &__member {
        margin-top: 15px;
        color: #999999;
        font-size: 12px;
      }
    }
    .group-edit {
      width: 72px;
      margin-top: 28px;
      color: #38aef0;
      font-size: 16px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      border: solid;
      border-width: 1px;
      border-color: #38aef0;
    }
  }
  &__chat-list {
    overflow: scroll;
    background-color: #fafafa;
    height: calc(100vh - 190px);
    padding: 35px 40px;
    .chat-data {
      margin-bottom: 46px;
      &__user-data {
        display: flex;
        margin-bottom: 12px;
        &--name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &--day {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
        }
      }
      &__message {
        color: #434a54;
        font-size: 14px;
      }
    }
  }
  &__chat-form {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 40px;
    .new-message{
      &__form{
        .form{
          display: flex;
          width: 100%;
          .form-input{
            position: relative;
            width: 100%;
            &__message{
              height: 50px;
              padding: 10px;
              width: 100%; 
              border-style: none;
            }
            &__mask{
              &--image{
                cursor: pointer;
                font-size: 1.3rem;
                position: absolute;
                right: 10px;
                top: 10px;
                .hidden{
                display: none;
                }
              }
            }
          }
          &__submit{
            cursor: pointer;
            padding: 0 30px;
            height: 50px;
            width: 100px;
            margin-left: 15px;
            background-color: #38aef0;
            @include white();
          }
        }
      }
    }
  }
}
